/*****************keyframe**********************/

@keyframes fade_title_desc {
    0% {
        transform: translateY(-80px);
        opacity: 0;
    }

    33% {
        opacity: 0.1;
    }

    66% {
        opacity: 0.2;
    }

    94% {
        //   transform: translateY(0);
        opacity: 0.5;
    }

    97% {
        //  transform: translateY(px);
        opacity: 0.8;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


@keyframes fade_p_desc_r {
    0% {
        transform: translateX(800px);
        opacity: 0;
    }

    33% {
        opacity: 0.1;
    }

    66% {
        opacity: 0.2;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade_p_desc_m {
    0% {
        transform: translateX(-800px);
        opacity: 0;
    }

    33% {
        opacity: 0.1;
    }

    66% {
        opacity: 0.2;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade_lien_git {
    0% {
        transform: scale(0);

    }

    100% {
        transform: scale(1) translate(0, 0);
        // opacity: 1;
    }
}

@keyframes fade_version {
    0% {
        transform: translateY(-100px);
        opacity: 0;

    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes title_h1_rea {
    0% {
        transform: translateX(-500px);
        opacity: 0;

    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes title_h2_rea {
    0% {
        transform: translateX(500px);
        opacity: 0;

    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes title_p_rea {
    0% {

        opacity: 0;

    }

    100% {

        opacity: 1;
    }
}

/*******************************************************/
.content_rea {
    display: flex;
    flex-direction: column;

    &_info {
        text-align: center;

        h1 {

            text-transform: uppercase;
            //  margin: 50px 0 50px 0;
            opacity: 0;
            animation: title_h1_rea 1400ms both;

        }

        p {
            opacity: 0;
            animation: title_p_rea 900ms 1400ms both;
        }

        h2 {
            opacity: 0;
            animation: title_h2_rea 1400ms 2300ms both;
        }
    }

    .content_supports {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        gap: 40px;
        //  position: relative;

        .supports {

            &.tablet {
                height: 500px;

                @media all and (max-width: 1000px) {
                    height: 300px;
                }

                /*
                @media all and (max-width: 450px) {
                    font-size: 48px;
                }*/
            }

            &.smartphone {
                height: 300px;

                /*   @media all and (max-width: 600px) {
                    height: 300px;
                }
            
                @media all and (max-width: 450px) {
                    font-size: 48px;
                } */

            }
        }

        .computer {
            position: relative;
            //   margin-top: 15px;

            img {
                @media all and (max-width: 1000px) {
                    width: 500px;
                }

                @media all and (max-width: 520px) {
                    width: 300px;

                }
            }

            /* */

            .bloc_img_computer {

                width: 651px;
                height: 413px;
                position: absolute;
                top: 42px;
                left: 153px;
                //   text-overflow: clip;
                overflow: scroll;

                @media all and (max-width: 1000px) {
                    width: 338px;
                    height: 214px;
                    top: 23px;
                    left: 80px;
                }

                @media all and (max-width: 520px) {
                    width: 206px;
                    height: 127px;
                    top: 14px;
                    left: 47px;

                }

                .img_computer {
                    width: 100%;

                    &.vide {
                        width: 100%;
                        height: 100%;
                        background-color: white;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        p {
                            display: block;
                            margin: 0;
                            text-align: center;
                        }
                    }
                }

            }
        }

        .tablet {
            position: relative;
            //   margin-top: 15px;

            .bloc_img_tablet {

                width: 276px;
                height: 439px;
                position: absolute;
                top: 31px;
                left: 29px;
                //   text-overflow: clip;
                overflow: scroll;

                @media all and (max-width: 1000px) {
                    width: 164px;
                    height: 261px;
                    top: 20px;
                    left: 17px;

                }

                /*
                @media all and (max-width: 450px) {
                    font-size: 48px;
                }
*/
                .img_tablet {
                    width: 100%;

                    &.vide {
                        width: 100%;
                        height: 100%;
                        background-color: white;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        p {
                            display: block;
                            margin: 0;
                            text-align: center;
                        }
                    }
                }
            }
        }

        .smartphone {
            position: relative;
            //   margin-top: 15px;

            .bloc_img_smartphone {

                width: 129px;
                height: 229px;
                position: absolute;
                top: 32px;
                left: 11px;
                //   text-overflow: clip;
                overflow: scroll;

                .img_smartphone {
                    width: 100%;

                    &.vide {
                        width: 100%;
                        height: 100%;
                        background-color: white;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        p {
                            display: block;
                            margin: 0;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }

    .info_realisation {
        display: flex;
        flex-direction: column;
        align-items: center;

        &_techno {
            display: flex;
            //  flex-direction: column;
            flex-wrap: wrap;
            width: 100%;
            gap: 15px;
            justify-content: center;
            ul{
                @media all and (max-width: 750px) {
                    padding: 0;
                }
             //   
            }

            i {
                font-size: 100px;
            }

            &_left {
                //  width: 50%;
                //  border: solid 1px;
                display: flex;
                flex-direction: column;
                align-items: center;

                i {
                    margin: 16px 0;
                    transform: scale(0);
                }

                p {
                    opacity: 0;
                    transform: translateY(-100px);
                }

                &.left-animation {
                    i {

                        animation: fade_lien_git 1000ms 200ms both;
                    }

                    p {
                        animation: fade_version 600ms 1300ms both;
                    }
                }

            }

            &_right {
                //  width: 50%;
                //   border: solid 1px;
                display: flex;
                flex-direction: column;
                align-items: center;

                ul {
                    display: flex;
                    list-style: none;
                    flex-wrap: wrap;
                    gap: 20px;
                    align-items: center;
                    justify-content: center;

                    li {

                        //  margin: 0 10px 0 10px;
                        i {
                            //   margin: 16px 0;
                            transform: scale(0);
                        }
                    }



                    p {
                        opacity: 0;
                        transform: translateY(-100px);
                    }
                }

                &.right-animation {
                    i {

                        animation: fade_lien_git 1000ms 200ms both;
                    }

                    p {
                        animation: fade_version 600ms 1300ms both;
                    }
                }
            }
        }

        .bloc_description {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            margin: 0 20px;
            gap: 40px;

            .description {
                width: 40%;
                min-width: 250px;
                @media all and (max-width: 600px) {
                    width: 80%;

                }

                &.desc_m {

                    h3 {
                        opacity: 0;
                        //  transform: translateY(-200px);
                    }

                    p {
                        //   transform: translateX(-800px);
                        opacity: 0;
                    }

                    &.desc-animation {

                        h3 {
                            animation: fade_title_desc 1000ms 400ms both;
                        }

                        p {
                            animation: fade_p_desc_m 1000ms 400ms both;
                        }
                    }
                }


                &.desc_r {
                    .lien_git {
                        text-align: center;

                        i {
                            font-size: 70px;
                            //  transform: scale(0) ;

                        }

                    }

                    h3 {
                        opacity: 0;
                        //   transform: translateY(-200px);
                    }

                    p {
                        //  transform: translateX(800px);
                        opacity: 0;
                    }

                    &.desc-animation {

                        h3 {
                            animation: fade_title_desc 1000ms 400ms both;
                        }

                        p {
                            animation: fade_p_desc_r 1000ms 400ms both;
                        }

                        .lien_git {


                            i {
                                font-size: 70px;
                                animation: fade_lien_git 1000ms 2000ms both;

                            }

                        }

                    }
                }
            }


        }
    }
}