.content {
    display: flex;
    flex-direction: column;
&_rea_info{
    text-align: center;
    h1 {
        
        text-transform: uppercase;
      //  margin: 50px 0 50px 0;

    }
}
    .content_supports {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        //  position: relative;

        .supports {

            &.tablet {
                height: 500px;
            }

            &.smartphone {
                height: 300px;
            }
        }

        .computer {
            position: relative;
         //   margin-top: 15px;

            .bloc_img_computer {

                width: 651px;
                height: 413px;
                position: absolute;
                top: 42px;
                left: 153px;
                //   text-overflow: clip;
                overflow: scroll;

                .img_computer {
                    width: 100%;
                }
            }
        }

        .tablet {
            position: relative;
         //   margin-top: 15px;

            .bloc_img_tablet {

                width: 276px;
                height: 439px;
                position: absolute;
                top: 31px;
                left: 29px;
                //   text-overflow: clip;
                overflow: scroll;

                .img_tablet {
                    width: 100%;
                }
            }
        }

        .smartphone {
            position: relative;
         //   margin-top: 15px;

            .bloc_img_smartphone {

                width: 129px;
                height: 229px;
                position: absolute;
                top: 32px;
                left: 11px;
                //   text-overflow: clip;
                overflow: scroll;

                .img_smartphone {
                    width: 100%;
                }
            }
        }
    }

    .info_realisation {
        display: flex;
        flex-direction: column;
        align-items: center;

        &_techno {
            display: flex;
            //  flex-direction: column;
            flex-wrap: wrap;
            width: 100%;
            gap: 15px;
            justify-content: center;

            i {
                font-size: 100px;
            }

            &_left {
                //  width: 50%;
                border: solid 1px;

            }

            &_right {
                //  width: 50%;
                border: solid 1px;

                ul {
                    display: flex;
                    list-style: none;

                    li {
                        margin: 0 10px 0 10px;
                    }
                }
            }
        }

        .bloc_description {
            display: flex;
            justify-content: space-around;

            .description {
                width: 40%;

                &.desc_m {

                }

                &.desc_r {
              
                }
            }
        }
    }
}